*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif, Helvetica, sans-serif;
    color:black;   
    font-size: 20px;
    
        
}
a{
    text-decoration: none;
   
}
section{
    margin: 0 auto;
    width: 1000px;
    height: 1500px;
    background-color: black;
}

.centered div{
    margin: 10px 10px;
    width: 300px;
    height: 300px;
    background-color: white;
    display: inline-block;
}
.centered{
    margin: 0 auto;
    display: table;

}
.centered div>article{
    margin: 20px auto;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: red;

}
.centro{
    margin: 0 auto;
    display: table;

}
.centro nav{
    width: 400px;
    height: 400px;
    display: inline-block;
    margin: 10px 10px;
    background-color: white;
}
.centro nav>article{
    width: 380px;
    height: 380px;
    display: inline-block;
    margin: 10px 10px;
    background-color:blue;
    border-radius: 50%;
}
.center{
    margin: 0 auto;
    display: table;
}
.center aside{
    width: 900px;
    height: 700px;
    display: inline-block;
    margin: 10px 10px;
    background-color:white;
    
}
.center aside>p{
    width: 250px;
    height: 650px;
    display: inline-block;
    margin: 20px 20px 20px 20px;
    background-color:purple;
}
.center aside>p>i{
    width: 180px;
    height: 180px;
    display: block;
    margin: 20px 30px;
    background-color:green;
}
.center aside>p>a{
    margin: 80px 25px;
    width: 200px;
    height: 500px;
    display: block;    
    background-color:red;
    border-radius: 100%;
}
.center aside>p>crono{
    width: 180px;
    height: 180px;
    display: block;
    margin: 20px 30px;
    background-color:orange;
    border-radius: 50%
}
force{
    margin:10px 0 10px 10px;
    width: 180px;
    height: 180px;
    display: inline-block;    
    background-color:red;
    border-radius: 50%;

}
casa{
    width: 700px;
    height: 500px;
    display: block;
    margin: 30px auto;
    background-color: brown;
}
casa>nav>article{
    width: 340px;
    height: 340px;
    display: inline-block;
    margin: 90px auto;
    background-color:blue;
    border-radius: 50%;
}
section>nav{
    width: 180px;
    height: 280px;
    background-color: yellow;
    display: inline-block;
    margin: 100px 10px 0px 30px;
}
section>nav>article{
    width: 120px;
    height: 200px;
    background-color: white;
    display: block;
    margin: 40px auto;
    border-radius: 70%;
}

section>nav:last-child{
    width: 230px;
    height: 230px;
    background-color: yellow;
    display: inline-block;
   
}
section>nav>circulo{
    width: 90px;
    height: 90px;
    background-color: white;
    display: inline-block;
    border-radius: 70%;
    margin: 10px 10px 10px 10px;
}














